venv
cmake-build-debug*
.idea
cmake-build-debugx
vcpkg*
shared/CMakeFiles/*
server/CMakeFiles/*
client/CMakeFiles/*
Testing/*
output/*
.cmake/*
client/r-type_client
server/r-type_server
shared/cmake_install.cmake
shared/libr-type-shared.a
shared/Makefile
CMakeCache.txt
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
CMakeFiles/*
cmake_install.cmake
Makefile
*.cpp.o